body{
  margin:0;
  padding:0;

}

section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 20px;
}

p a{
  display: flex;
  flex-direction: column;
  position: fixed;
   z-index: 1;
}

img{
  height: 100vh;
  
}

.resizable-image{
  width: 400px;
  height: 100px;
  position: fixed;
  z-index: 1;
}



#section1{
  background-color: 
  #e30512 ;
}

#section2{
  background-color: #1d3fbb;
}

#section3{
  background-color: 
  #ffbe00 ;
}

#section4{
  background-color: #ff651a ;
}

#section5{
  background-color: 
  #00c1b5 ;
}


#section6{
  background-color: white;
}

#section7{
  background-color:#ff3399 ;
}