body{
  margin:0;
  padding:0;
  
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 20px;
 
  
}

header{
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:2;
}

footer{
     position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      color: black;
      z-index: 1000;
      display: flex;
      justify-content:space-between;
}


a{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: black;
  text-decoration: none;
  font-weight: 800;
}

img{
  height: 100vh;
  height: 500px;
  width: 420px;
  
}


.container{
  font-weight: 800;
}

.container1{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
}

.container1 p{
  margin: 0;
  margin-left: 980px;
  font-size: 20px;
  
}

.container1 img{
  width: 300px;
  height: 30px;
  margin-right: 10px;
  
}


#section1{
  background-color: 
  #e30512 ;
}

#section2{
  background-color: #1d3fbb;
}

#section3{
  background-color: 
  #ffbe00 ;
}

#section4{
  background-color: #ff651a ;
}

#section5{
  background-color: 
  #00c1b5 ;
}

#section6{
  background-color: white;
}

#section7{
  background-color:#ff3399 ;
}